.Tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  color: #188cff;
  background: #edf6ff;
  border: 1px solid #edf6ff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  transition: opacity 0.5s;
  box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
}

.Tooltip:before {
  content: " ";
  position: absolute;
  border: 12px solid transparent;
  border-bottom-color: #edf6ff;
  top: -25px;
  left: 50%;
  margin-left: -6px;
}
.Tooltip-span:hover .Tooltip {
  opacity: 1;
}

.Tooltip-root {
  display: inline;
}
