.Button-root {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 15px;
  transition: all 0.3s;
  font-size: 18px;
  outline: none;
}

.Button-arrow {
  margin-left: 10px;
  transition: transform 0.3s;
}

.Button-disabled {
  opacity: 0.8;
  cursor: not-allowed !important;
}

/* BUTTON COLOUR STYLES */

.Button-primary {
  background: #e3f1ff;
  border: 1px solid #e3f1ff;
  color: #218bef;
}

.Button-red {
  background: #ffe7e9;
  border: 1px solid #ffe7e9;
  color: #cc4050;
}
.Button-orange {
  background: #fff0da;
  border: 1px solid #fff0da;
  color: #e87d46;
}

.Button-green {
  background: #e2f5cd;
  border: 1px solid #e2f5cd;
  color: #7bb13b;
}

/* BUTTON HOVER STYLES */

.Button-root:hover {
  cursor: pointer;
}

.Button-root:hover .Button-arrow {
  transform: translateX(5px);
}

.Button-primary:not(.Button-disabled):hover {
  background: #188cff !important;
  color: #fff !important;
}

.Button-red:not(.Button-disabled):hover {
  background: #cc4050 !important;
  color: #fff !important;
}

.Button-orange:not(.Button-disabled):hover {
  background: #e87d46 !important;
  color: #fff !important;
}

.Button-green:not(.Button-disabled):hover {
  background: #7bb13b !important;
  color: #fff !important;
}
