.ToDosHeader-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f9f9f9;
  z-index: 9999;
}

.ToDosHeader-container {
  display: flex;
  align-items: center;
}
.ToDosHeader-brand {
  flex-grow: 1;
}
.ToDosHeader-btn {
  margin-left: 10px;
}
