.ToDosHeader-root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f9f9f9;
  z-index: 9999;
}

.ToDosHeader-container {
  display: flex;
  align-items: center;
}

.ToDosHeader-brand {
  flex-grow: 1;
}

.ToDosHeader-btn {
  margin-left: 10px;
}

.ToDosHeader-btn-text {
  max-width: 0;
  -webkit-transition: max-width 0.5s, padding-left 0.5s;
  transition: max-width 0.5s, padding-left 0.5s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

/* HOVER STYLES */

.ToDosHeader-btn:hover .ToDosHeader-btn-text {
  max-width: 8rem;
  padding-left: 10px;
  visibility: visible;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 800px) {
  .ToDosHeader-btn-text {
    display: none;
  }
  .ToDosHeader-btn {
    margin-left: 5px;
    font-size: 14px;
  }
}
