.Modal-dimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999999999;
  padding-top: 100px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.5s;
}

.Modal-root {
  background-color: #fff;
  max-width: 800px;
  margin: auto;
  padding: 3em;
  display: block;
  border-radius: 10px;
  position: static;
}

.Modal-open {
  visibility: visible;
  opacity: 1;
}

/* .Modal-close {
  display: none;
  opacity: 0;
} */
