.ToDoItem-root {
  background: #f9f9f9;
  color: #000;
  border-radius: 15px;
  padding: 2em;
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.ToDoItem-created {
  color: #8e9091;
  padding: 0.5em 1em;
  background: #e5e6e6;
  border-radius: 10px;
  font-size: 12px;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  display: block;
}

.ToDoItem-title {
  margin-top: 20px;
  transition: all 0.2s;
  margin-top: 0;
}

.ToDoItem-description {
  color: #a0a4a7;
  transition: all 0.2s;
  line-height: 1.5em;
  font-size: 14px;
}

.ToDoItem-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  opacity: 0;
  z-index: 99;
}

.ToDoItem-button-text {
  max-width: 0;
  -webkit-transition: max-width 0.5s, padding-left 0.5s;
  transition: max-width 0.5s, padding-left 0.5s;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  visibility: hidden;
}

.ToDoItem-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  color: #188cff;
  font-size: 14px;
}

.ToDoItem-edit-text {
  margin-left: 10px;
}

/* HOVER STYLES */

.ToDoItem-root:hover {
  background: #edf6ff;
}

.ToDoItem-root:hover .ToDoItem-title {
  color: #c9e4ff;
}
.ToDoItem-root:hover .ToDoItem-description {
  color: #c9e4ff;
}

.ToDoItem-root:hover .ToDoItem-created {
  background: #c9e4ff;
  color: #fff;
}

.ToDoItem-root:hover .ToDoItem-delete {
  opacity: 1;
}

.ToDoItem-root:hover .ToDoItem-edit {
  opacity: 1;
}

.ToDoItem-button:hover .ToDoItem-button-text {
  max-width: 7rem;
  padding-left: 10px;
  visibility: visible;
}

/* PLAYBACK ANIMATION STYLES */

.ToDoItem-add {
  border: 1px solid #7bb13b;
  background: #e2f5cd !important;
}

.ToDoItem-update {
  border: 1px solid #218bef;
  background: #e3f1ff !important;
}

.ToDoItem-remove {
  border: 1px solid #cc4050;
  background: #ffe7e9 !important;
}

/* RESPONSIVE STYLES */

@media only screen and (max-width: 800px) {
  .ToDoItem-button-text {
    display: none;
  }
}
