.HeaderBrand-root {
  display: flex;
  align-items: center;
}

.HeaderBrand-avatar {
  filter: drop-shadow(0 0 0.75rem #fff);
  width: 60px;
  margin-right: 20px;
}

.HeaderBrand-title {
  margin: 0;
}

.HeaderBrand-light {
  color: #fff;
}

.HeaderBrand-dark {
  color: #000;
}

@media only screen and (max-width: 768px) {
  .HeaderBrand-collapse {
    display: none;
  }
}
